[Desktop Entry]
Name=Upload Server
Comment=Upload Server Application
Exec=/home/jenrry/upload-server/upload_server
Icon=/home/jenrry/upload-server/upload_server.svg
Terminal=true
Type=Application
